In [3]:
import pandas as pd
import numpy as np

# Load data. 
Previously when loading data, Column (15) -- Family Income has mixed types. To remove this waring, spcifically define Family Income column as object type.

In [4]:
data_demo = pd.read_csv("data/demographics.csv", dtype={"Family Income": "object"})

## Explore demographics data

In [5]:
data_demo.head()

,ID,PostCode,Lat,Long,Province,Population Count,Age,Gender,Ethnicity,Religion,...,Immigration,Commute,Marital Status,Family Size,Dwelling,Ownership,Education,Profession,Income,Family Income
0,V8A3P8-0,V8A3P8,49.8627,-124.5191,BC,1,40 to 44 years,Female,British,No religious affiliation,...,Native,Car (driver),Married,4 persons,Single-detached house,Owned,Bachelor's degree or above,Accommodation and food services,"$20,000 to $29,999","$25,000 to $29,999"
1,V8A3P8-1,V8A3P8,49.8627,-124.5191,BC,1,55 to 59 years,Female,Northern European,Christian,...,Native,Car (driver),Divorced,1 person,Single-detached house,Rented,Apprenticeship or trades certificate or diploma,Health care and social assistance,"$10,000 to $19,999","$15,000 to $19,999"
2,V8A3P8-2,V8A3P8,49.8627,-124.5191,BC,1,60 to 64 years,Female,British,No religious affiliation,...,Native,Car (driver),Married,2 persons,Single-detached house,Owned,Secondary school,Retail trade,"$60,000 to $69,999","$90,000 to $99,999"
3,V8A3P8-3,V8A3P8,49.8627,-124.5191,BC,1,65 years and over,Female,French,Christian,...,Native,Car (driver),Widowed,3 persons,Single-detached house,Owned,College,Health care and social assistance,"$30,000 to $39,999","$30,000 to $34,999"
4,V8A3P8-4,V8A3P8,49.8627,-124.5191,BC,1,65 years and over,Female,North American,Christian,...,Native,Car (passenger),Widowed,3 persons,Single-detached house,Rented,"No certificate, diploma or degree",Retail trade,"Under $10,000 (including loss)","$45,000 to $49,999"

In [6]:
data_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29115178 entries, 0 to 29115177
Data columns (total 21 columns):
ID                  object
PostCode            object
Lat                 float64
Long                float64
Province            object
Population Count    int64
Age                 object
Gender              object
Ethnicity           object
Religion            object
Language            object
Immigration         object
Commute             object
Marital Status      object
Family Size         object
Dwelling            object
Ownership           object
Education           object
Profession          object
Income              object
Family Income       object
dtypes: float64(2), int64(1), object(18)
memory usage: 4.6+ GB

In [7]:
# Check if there are any missing values.
data_demo.isnull().values.any()

False

In [8]:
data_demo.Religion.unique()

array(['No religious affiliation', 'Christian', 'Muslim', 'Hindu',
       'Buddhist', 'Sikh', 'Traditional (Aboriginal) Spirituality',
       'Other religions', 'Jewish'], dtype=object)

In [9]:
data_demo.Ethnicity.unique()

array(['British', 'Northern European', 'French', 'North American',
       'Western European', 'Southern European', 'Eastern European',
       'Latin, Central and South American', 'Caribbean', 'African',
       'East and Southeast Asian origins', 'Middle Eastern', 'Aboriginal',
       'South Asian'], dtype=object)

In [10]:
data_demo.Province.unique()

array(['BC', 'QC', 'ON', 'NS', 'AB', 'SK', 'MB', 'NB', 'NL', 'PE', 'NT',
       'YT'], dtype=object)

In [11]:
data_demo.Language.unique()

array(['English', 'Non-official languages', 'French'], dtype=object)

In [12]:
data_demo.Immigration.unique()

array(['Native', 'Immigrants'], dtype=object)

In [13]:
data_demo.Commute.unique()

array(['Car (driver)', 'Car (passenger)', 'Public transit', 'Bicycle',
       'Walked', 'Other method'], dtype=object)

In [14]:
data_demo["Marital Status"].unique()

array(['Married', 'Divorced', 'Widowed', 'Living common law',
       'Never married', 'Separated'], dtype=object)

In [15]:
data_demo["Family Size"].unique()

array(['4 persons', '1 person', '2 persons', '3 persons',
       '5 or more persons'], dtype=object)

In [16]:
data_demo.Dwelling.unique()

array(['Single-detached house', 'Other', 'Apartment'], dtype=object)

In [17]:
data_demo.Ownership.unique()

array(['Owned', 'Rented'], dtype=object)

In [18]:
data_demo.Education.unique()

array(["Bachelor's degree or above",
       'Apprenticeship or trades certificate or diploma',
       'Secondary school', 'College', 'No certificate, diploma or degree'],
      dtype=object)

In [19]:
data_demo.Profession.unique()

array(['Accommodation and food services',
       'Health care and social assistance', 'Retail trade',
       'Manufacturing',
       'Administrative and support, waste management and remediation services',
       'Construction', 'Other services (except public administration)',
       'Finance and insurance', 'Public administration',
       'Educational services', 'Wholesale trade',
       'Transportation and warehousing',
       'Professional, scientific and technical services',
       'Real estate and rental and leasing',
       'Agriculture, forestry, fishing and hunting',
       'Arts, entertainment and recreation',
       'Mining, quarrying, and oil and gas extraction',
       'Information and cultural industries', 'Utilities',
       'Management of companies and enterprises'], dtype=object)

In [20]:
data_demo.Age.unique()

array(['40 to 44 years', '55 to 59 years', '60 to 64 years',
       '65 years and over', '25 to 29 years', '20 to 24 years',
       '30 to 34 years', '45 to 49 years', '50 to 54 years',
       '35 to 39 years'], dtype=object)

In [21]:
data_demo.Gender.unique()

array(['Female', 'Male'], dtype=object)

# There are four types of data:
1. Ordinal data: Family Size, Education.
2. Nominal data: Ethnicity,	Religion, Language, Immigration, Commute, Marital Status, Dwelling,	Ownership, Profession, Province
3. Numerical data: Income, Family Income

In [22]:
data_demo.columns

Index(['ID', 'PostCode', 'Lat', 'Long', 'Province', 'Population Count', 'Age',
       'Gender', 'Ethnicity', 'Religion', 'Language', 'Immigration', 'Commute',
       'Marital Status', 'Family Size', 'Dwelling', 'Ownership', 'Education',
       'Profession', 'Income', 'Family Income'],
      dtype='object')

In [23]:
# The following code is used for sampling and testing before on run the actual sample
# data_demo = data_demo.sample(frac=0.005, replace=False, random_state=1)

# Select features that are potentially correlated with the feature (number of trades) from the aggregated data, and are easily aggregated as well (nominal features that only have two categories).
The candadites are:
1. Immigration -- nominal
2. Gender -- nominal
3. Ownership -- nominal
4. Dwelling -- nominal
5. Education -- nominal
6. ethnicity -- nominal
7. Commute -- nominal
8. Marital Status


9. Age -- ordinal


10. Income -- numeric
11. Family Size -- numeric
12. Family Income -- numeric

**Remove the following columns.**

In [24]:
removed_cols = ["Religion", "Language", "Profession", 'ID', 'Lat', 'Long']
data_demo.drop(removed_cols, inplace=True, axis=1)

In [25]:
index = ["PostCode"]

nominal_col = [
    "Immigration", "Gender", "Ownership", "Dwelling", 
    "Education", "Ethnicity", "Commute", "Marital Status", 'Province'
]

ordinal_col = ["Age", 'Income', 'Family Income']

numeric_col = ["Family Size", 'Population Count']

## Aggregate norminal data

In [26]:
df_nominal = data_demo[nominal_col + index]
df_nominal = pd.get_dummies(df_nominal, columns=nominal_col)

In [27]:
df_nominal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29115178 entries, 0 to 29115177
Data columns (total 53 columns):
PostCode                                                     object
Immigration_Immigrants                                       uint8
Immigration_Native                                           uint8
Gender_Female                                                uint8
Gender_Male                                                  uint8
Ownership_Owned                                              uint8
Ownership_Rented                                             uint8
Dwelling_Apartment                                           uint8
Dwelling_Other                                               uint8
Dwelling_Single-detached house                               uint8
Education_Apprenticeship or trades certificate or diploma    uint8
Education_Bachelor's degree or above                         uint8
Education_College                                            uint8
Education_No certificate, diploma or degree                  uint8
Education_Secondary school                                   uint8
Ethnicity_Aboriginal                                         uint8
Ethnicity_African                                            uint8
Ethnicity_British                                            uint8
Ethnicity_Caribbean                                          uint8
Ethnicity_East and Southeast Asian origins                   uint8
Ethnicity_Eastern European                                   uint8
Ethnicity_French                                             uint8
Ethnicity_Latin, Central and South American                  uint8
Ethnicity_Middle Eastern                                     uint8
Ethnicity_North American                                     uint8
Ethnicity_Northern European                                  uint8
Ethnicity_South Asian                                        uint8
Ethnicity_Southern European                                  uint8
Ethnicity_Western European                                   uint8
Commute_Bicycle                                              uint8
Commute_Car (driver)                                         uint8
Commute_Car (passenger)                                      uint8
Commute_Other method                                         uint8
Commute_Public transit                                       uint8
Commute_Walked                                               uint8
Marital Status_Divorced                                      uint8
Marital Status_Living common law                             uint8
Marital Status_Married                                       uint8
Marital Status_Never married                                 uint8
Marital Status_Separated                                     uint8
Marital Status_Widowed                                       uint8
Province_AB                                                  uint8
Province_BC                                                  uint8
Province_MB                                                  uint8
Province_NB                                                  uint8
Province_NL                                                  uint8
Province_NS                                                  uint8
Province_NT                                                  uint8
Province_ON                                                  uint8
Province_PE                                                  uint8
Province_QC                                                  uint8
Province_SK                                                  uint8
Province_YT                                                  uint8
dtypes: object(1), uint8(52)
memory usage: 1.6+ GB

In [28]:
df_nominal_agg = df_nominal.groupby("PostCode").apply(lambda x: x.sum() / x.count())

In [29]:
df_nominal_agg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793779 entries, A0A0B7 to Y1A7A4
Data columns (total 52 columns):
Immigration_Immigrants                                       793779 non-null float64
Immigration_Native                                           793779 non-null float64
Gender_Female                                                793779 non-null float64
Gender_Male                                                  793779 non-null float64
Ownership_Owned                                              793779 non-null float64
Ownership_Rented                                             793779 non-null float64
Dwelling_Apartment                                           793779 non-null float64
Dwelling_Other                                               793779 non-null float64
Dwelling_Single-detached house                               793779 non-null float64
Education_Apprenticeship or trades certificate or diploma    793779 non-null float64
Education_Bachelor's degree or above                         793779 non-null float64
Education_College                                            793779 non-null float64
Education_No certificate, diploma or degree                  793779 non-null float64
Education_Secondary school                                   793779 non-null float64
Ethnicity_Aboriginal                                         793779 non-null float64
Ethnicity_African                                            793779 non-null float64
Ethnicity_British                                            793779 non-null float64
Ethnicity_Caribbean                                          793779 non-null float64
Ethnicity_East and Southeast Asian origins                   793779 non-null float64
Ethnicity_Eastern European                                   793779 non-null float64
Ethnicity_French                                             793779 non-null float64
Ethnicity_Latin, Central and South American                  793779 non-null float64
Ethnicity_Middle Eastern                                     793779 non-null float64
Ethnicity_North American                                     793779 non-null float64
Ethnicity_Northern European                                  793779 non-null float64
Ethnicity_South Asian                                        793779 non-null float64
Ethnicity_Southern European                                  793779 non-null float64
Ethnicity_Western European                                   793779 non-null float64
Commute_Bicycle                                              793779 non-null float64
Commute_Car (driver)                                         793779 non-null float64
Commute_Car (passenger)                                      793779 non-null float64
Commute_Other method                                         793779 non-null float64
Commute_Public transit                                       793779 non-null float64
Commute_Walked                                               793779 non-null float64
Marital Status_Divorced                                      793779 non-null float64
Marital Status_Living common law                             793779 non-null float64
Marital Status_Married                                       793779 non-null float64
Marital Status_Never married                                 793779 non-null float64
Marital Status_Separated                                     793779 non-null float64
Marital Status_Widowed                                       793779 non-null float64
Province_AB                                                  793779 non-null float64
Province_BC                                                  793779 non-null float64
Province_MB                                                  793779 non-null float64
Province_NB                                                  793779 non-null float64
Province_NL                                                  793779 non-null float64
Province_NS                                                  793779 non-null float64
Province_NT                                                  793779 non-null float64
Province_ON                                                  793779 non-null float64
Province_PE                                                  793779 non-null float64
Province_QC                                                  793779 non-null float64
Province_SK                                                  793779 non-null float64
Province_YT                                                  793779 non-null float64
dtypes: float64(52)
memory usage: 321.0+ MB

## Preprocess and aggregate numeric data

In [30]:
df_numeric = data_demo[numeric_col + index]

In [31]:
df_numeric.head()

  Family Size  Population Count PostCode
0   4 persons                 1   V8A3P8
1    1 person                 1   V8A3P8
2   2 persons                 1   V8A3P8
3   3 persons                 1   V8A3P8
4   3 persons                 1   V8A3P8

In [32]:
df_numeric["Family Size"] = df_numeric["Family Size"].str.split(" ", expand=True)[0]
df_numeric["Family Size"] = pd.to_numeric(df_numeric["Family Size"], errors="coerce")

/home/yang/.virtualenvs/sharpestmind/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

/home/yang/.virtualenvs/sharpestmind/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
df_numeric_agg = df_numeric.groupby("PostCode").agg(
    {"Family Size": np.median, 
     "Population Count": sum,
    }
)

In [34]:
df_numeric_agg.head()

          Family Size  Population Count
PostCode
A0A0B7            1.5                 2
A0A0C2            1.5                 2
A0A1A0            2.0                61
A0A1B0            2.0               480
A0A1C0            2.0              1091

In [35]:
df_numeric_agg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793779 entries, A0A0B7 to Y1A7A4
Data columns (total 2 columns):
Family Size         793779 non-null float64
Population Count    793779 non-null int64
dtypes: float64(1), int64(1)
memory usage: 18.2+ MB

## Preprocess and aggregate ordinal columns

In [36]:
df_ordinal = data_demo[ordinal_col + index]

In [37]:
df_ordinal.head()

,Age,Income,Family Income,PostCode
0,40 to 44 years,"$20,000 to $29,999","$25,000 to $29,999",V8A3P8
1,55 to 59 years,"$10,000 to $19,999","$15,000 to $19,999",V8A3P8
2,60 to 64 years,"$60,000 to $69,999","$90,000 to $99,999",V8A3P8
3,65 years and over,"$30,000 to $39,999","$30,000 to $34,999",V8A3P8
4,65 years and over,"Under $10,000 (including loss)","$45,000 to $49,999",V8A3P8

In [38]:
data_demo['Income'].unique()

array(['$20,000 to $29,999', '$10,000 to $19,999', '$60,000 to $69,999',
       '$30,000 to $39,999', 'Under $10,000 (including loss)',
       '$40,000 to $49,999', '$70,000 to $79,999', '$50,000 to $59,999',
       '$100,000 to $149,999', '$80,000 to $89,999', '$90,000 to $99,999',
       '$150,000 and over'], dtype=object)

In [39]:
data_demo['Family Income'].unique()

array(['$25,000 to $29,999', '$15,000 to $19,999', '$90,000 to $99,999',
       '$30,000 to $34,999', '$45,000 to $49,999', '$50,000 to $59,999',
       '$35,000 to $39,999', '$70,000 to $79,999', '$100,000 to $124,999',
       '$20,000 to $24,999', '$150,000 to $199,999',
       '$125,000 to $149,999', '$200,000 and over', '$60,000 to $69,999',
       '$80,000 to $89,999', 'Under $5,000', '$5,000 to $9,999',
       '$10,000 to $14,999', '$40,000 to $44,999'], dtype=object)

In [40]:
data_demo['Age'].unique()

array(['40 to 44 years', '55 to 59 years', '60 to 64 years',
       '65 years and over', '25 to 29 years', '20 to 24 years',
       '30 to 34 years', '45 to 49 years', '50 to 54 years',
       '35 to 39 years'], dtype=object)

In [42]:
ordered_age = {
    "Age": {
        '20 to 24 years': 1,
        '25 to 29 years': 2,
        '30 to 34 years': 3,
        '35 to 39 years': 4,
        '40 to 44 years': 5,
        '45 to 49 years': 6,
        '50 to 54 years': 7,
        '55 to 59 years': 8,
        '60 to 64 years': 9,
        '65 years and over': 10,
    }
}

ordered_income = {
    "Income": {
        'Under $10,000 (including loss)': 1,
        '$10,000 to $19,999': 2,
        '$20,000 to $29,999': 3,
        '$30,000 to $39,999': 4,
        '$40,000 to $49,999': 5,
        '$50,000 to $59,999': 6,
        '$60,000 to $69,999': 7,
        '$70,000 to $79,999': 8,
        '$80,000 to $89,999': 9,
        '$90,000 to $99,999': 10,
        '$100,000 to $149,999': 11,
        '$150,000 and over': 12
    }
}

ordered_family_income = {
    "Family Income": {
        'Under $5,000': 1,
        '$5,000 to $9,999': 2,
        '$10,000 to $14,999': 3,
        '$15,000 to $19,999': 4,
        '$20,000 to $24,999': 5,
        '$25,000 to $29,999': 6,
        '$30,000 to $34,999': 7,
        '$35,000 to $39,999': 8,
        '$40,000 to $44,999': 9,
        '$45,000 to $49,999': 10,
        '$50,000 to $59,999': 12,
        '$60,000 to $69,999': 14,
        '$70,000 to $79,999': 16,
        '$80,000 to $89,999': 18,
        '$90,000 to $99,999': 20,
        '$100,000 to $124,999': 25,
        '$125,000 to $149,999': 30,
        '$150,000 to $199,999': 40,
        '$200,000 and over': 50,
    }
}

In [45]:
df_ordinal.replace(ordered_age, inplace=True)
df_ordinal.replace(ordered_income, inplace=True)
df_ordinal.replace(ordered_family_income, inplace=True)

In [46]:
df_ordinal.head()

   Age  Income  Family Income PostCode
0    5       3              6   V8A3P8
1    8       2              4   V8A3P8
2    9       7             20   V8A3P8
3   10       4              7   V8A3P8
4   10       1             10   V8A3P8

In [49]:

df_ordinal_agg = df_ordinal.groupby("PostCode").agg(
    {
        "Age": np.mean,
        "Income": np.mean,
        "Family Income": np.mean,
    }
)

In [50]:
df_ordinal_agg.head()

               Age    Income  Family Income
PostCode
A0A0B7    7.000000  2.500000      20.000000
A0A0C2    8.500000  4.500000      10.000000
A0A1A0    7.754098  4.409836      15.491803
A0A1B0    6.710417  5.437500      21.708333
A0A1C0    6.196150  5.082493      22.048579

In [51]:
df_ordinal_agg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 793779 entries, A0A0B7 to Y1A7A4
Data columns (total 3 columns):
Age              793779 non-null float64
Income           793779 non-null float64
Family Income    793779 non-null float64
dtypes: float64(3)
memory usage: 24.2+ MB

In [52]:
df_agg = df_ordinal_agg.merge(df_numeric_agg, on='PostCode') \
                       .merge(df_nominal_agg, on='PostCode') \
                       .reset_index()

In [53]:
df_agg.head()

,PostCode,Age,Income,Family Income,Family Size,Population Count,Immigration_Immigrants,Immigration_Native,Gender_Female,Gender_Male,...,Province_MB,Province_NB,Province_NL,Province_NS,Province_NT,Province_ON,Province_PE,Province_QC,Province_SK,Province_YT
0,A0A0B7,7.000000,2.500000,20.000000,1.5,2,0.000000,1.000000,1.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A0A0C2,8.500000,4.500000,10.000000,1.5,2,0.000000,1.000000,0.000000,1.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0A1A0,7.754098,4.409836,15.491803,2.0,61,0.065574,0.934426,0.475410,0.524590,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A0A1B0,6.710417,5.437500,21.708333,2.0,480,0.016667,0.983333,0.500000,0.500000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A0A1C0,6.196150,5.082493,22.048579,2.0,1091,0.012832,0.987168,0.511457,0.488543,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
df_agg.to_csv("data/demographics_agg.csv", index=False)